.availableElections__content {
    padding: 50px 0;
    height:76vh;
}

.availableElections__content-title {
    margin: 30px auto 20px 0;
    /* color: rgb(70, 68, 68); */
    font-size: 40px;
    cursor: default;
}

.availableElections__content-time {
    color: rgb(156, 154, 154);
    font-size: 18px;
    margin-bottom: 50px;
}
